<h1>JetGreen Airways</h1>
<p class="logout"><%= link_to "Logout", 'agent/logout' %></p>
<p>Please select a flight:</p>
<table>
    <tr>
        <th>Flight ID</th>
        <th>Path</th>
        <th>Date</th>
        <th>Time</th>
    </tr>

    <% @flights.sort_by(&:id).each do |f| %>
    <tr>
        <td><%= link_to f.id, flight_path(f) %></td>
        <td><%= f.depart %> -> <%= f.arrive %></td>
        <td><%= f.date %></td>
        <td><%= f.time %></td>
    </tr>
    <% end %>
</table>