<h1 class="name">JetGreen</h1>
<h2>You Must Log In To Proceed</h2>

<% if @error %>
        <p style='color:red'><%= @error %></p>
<% end%>


<%= form_tag "/agent/login", method: "POST", class: 'form' do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <br/>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br/>
    <%= submit_tag "Log In" %>
<% end %>